body {
  background-color: white;
  position: relative;
}

h1 {
  color: red;
  position: absolute;
  top: 250px;
  left: 600px;
  display: inline;
}

.container {
  border: 10px solid black;
  position: absolute;
}
